<div class="container">
    <div style="text-align: center;">
        <h2 style="padding-bottom: 15px;padding-top: 10px;">Automation Anywhere</h2>
        <p><b>Last Update:</b> {{update}}. <b>Source:</b>&nbsp;<a href="{{location}}" target="_blank">{{isOfficial}}</a></p>
    </div>
    <ngb-tabset>
        <ngb-tab title="Cloud">
            <ng-template ngbTabContent>
                <app-automation-anywhere-cloud></app-automation-anywhere-cloud>
            </ng-template>
        </ngb-tab>

        <ngb-tab title="Pricing">
            <ng-template ngbTabContent>
                <app-automation-anywhere-pricing></app-automation-anywhere-pricing>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
    <app-footer></app-footer>
</div>