<div class="container" style="padding-top: 15px;">
    <table class="table">
        <tr>
            <th>Product</th>
            <th>Price (US$) per Year</th>
        </tr>
        <tr *ngFor = "let row of uiPathResults">
            <td>
              {{row[0]}}
            </td>
            <td>
              {{row[1]}}
            </td>
        </tr>
    </table>

    <h4>Notes:</h4>
    <ul>
        <li>Disclaimer. The prices comes from <i>UiVision</i>.</li>
        <li>Types:
            <ul>
                <li><b>Attended Robot</b> interacts with the users.</li>
                <li><b>Unattended Robot</b> works autonomously (by themselves) on the background.</li>
            </ul>
        </li>
    </ul>
</div>

<div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://federiconavarrete.com"> Federico Navarrete</a>
</div>