<div class="container" style="padding-top: 15px;">
    <form [formGroup]="msPowerUsersForm">
        <h3>Per User Plan (Flows Only)</h3>
        <div class="row">
            <div class="col-sm">
                <div class="form-group">
                    <label for="txtUserNoRPA"># of Users</label>
                    <input type="number" class="form-control" placeholder="Total" formControlName="txtUserNoRPA" min="0" />
                </div>
            </div>
            <div class="col-sm">
                <div class="form-group">
                    <label for="txtAINoRPA"># of AI <b>Units</b></label>
                    <input type="number" class="form-control" placeholder="Total" formControlName="txtAINoRPA" min="0" [readonly]="enableAI" />
                </div>
            </div>
            <div class="col-sm">
                <div class="form-group">
                    <label for="txtTotalNoRPA">Cost per Month in US$</label>
                    <input class="form-control" placeholder="Total" value="{{totalNoRPA}}" readonly />
                </div>
            </div>
        </div>

        <h3>Per User Plan with Attended RPA</h3>
        <div class="row">
            <div class="col-sm">
                <div class="form-group">
                    <label for="txtUserRPA"># of Users</label>
                    <input type="number" class="form-control" placeholder="Total" formControlName="txtUserRPA" min="0" />
                </div>
            </div>
            <div class="col-sm">
                <div class="form-group">
                    <label for="txtRobot"># of <b>Unattended</b> Bots</label>
                    <input type="number" class="form-control" placeholder="Total" formControlName="txtRobot" min="0" [readonly]="enableRobots" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <div class="form-group">
                    <label for="txtAI"># of AI <b>Units</b></label>
                    <input type="number" class="form-control" placeholder="Total" formControlName="txtAI" min="0" [readonly]="enableRobots"  />
                </div>
            </div>
            <div class="col-sm">
               <div class="form-group">
                    <label for="txtTotalRPA">Cost per Month in US$</label>
                    <input class="form-control" placeholder="Total" value="{{totalRPA}}" readonly />
                </div>
            </div>
        </div>

        <h3>Total</h3>
        <div class="row">
            <div class="col-sm">
                <div class="form-group">
                    <label for="txtTotalPerMonth">Per Month in US$</label>
                    <input class="form-control" placeholder="Total" value="{{totalPerMonth}}" readonly />
                </div>
            </div>
            <div class="col-sm">
                <div class="form-group">
                    <label for="txtTotalPerYear">Per Year in US$</label>
                    <input class="form-control" placeholder="Total" value="{{totalPerYear}}" readonly />
                </div>
            </div>
        </div>

        <div *ngIf="isPackageReady">
            <h4>Your package includes:</h4>
            <ul>{{yourPackage}}</ul>
        </div>

        <h4>Notes:</h4>
        <div [innerHTML]="notes"></div>
    </form>
</div>
