<div class="container" style="padding-top: 15px;">
    <form [formGroup]="msPowerFlowsForm">
        <div class="row">
            <div class="col-sm">
                <div class="form-group">
                    <label for="txtExtraFlows"># of Extra Flows</label>
                    <input type="number" class="form-control" placeholder="Total" formControlName="txtExtraFlows" min="0" />
                </div>
            </div>
            <div class="col-sm">
                <div class="form-group">
                    <label for="txtFlowNoRPA"># of Users with <b>Attended RPAs</b></label>
                    <input type="number" class="form-control" placeholder="Total" formControlName="txtFlowNoRPA" min="0" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <div class="form-group">
                    <label for="txtFlowRPA"># of <b>Unattended RPAs (Bots)</b></label>
                    <input type="number" class="form-control" placeholder="Total" formControlName="txtFlowRPA" min="0" />
                </div>
            </div>
            <div class="col-sm">
                <div class="form-group">
                    <label for="txtAI"># of AI <b>Units</b></label>
                    <input type="number" class="form-control" placeholder="Total" formControlName="txtAI" min="0" />
                </div>
            </div>
        </div>

        <h3>Total</h3>
        <div class="row">
            <div class="col-sm">
                <div class="form-group">
                    <label for="txtTotalFlowMonth">Per Month in US$</label>
                    <input class="form-control" placeholder="Total" value="500" value="{{totalPerMonth}}" readonly />
                </div>
            </div>
            <div class="col-sm">
                <div class="form-group">
                    <label for="txtTotalFlowYear">Per Month in US$</label>
                    <input class="form-control" placeholder="Total" value="{{totalPerYear}}" readonly />
                </div>
            </div>
        </div>
        
        <div>
            <h4>Your monthly package includes:</h4>
            <ul [innerHTML]="yourPackage"></ul>
        </div>

        <h4>Notes:</h4>
        <div [innerHTML]="notes"></div>
    </form>
</div>