<div style="text-align: center;">
    <h2 style="padding-bottom: 15px;">Microsoft Power Automate</h2>
    <p><b>Last Update:</b> 2020-06-21. <b>Source:</b>&nbsp;<a href="https://emea.flow.microsoft.com/en-us/pricing/" target="_blank">Official</a></p>
</div>
<ngb-tabset>
    <ngb-tab title="Per User">
        <ng-template ngbTabContent>
            <app-ms-power-automate-per-users></app-ms-power-automate-per-users>
        </ng-template>
    </ngb-tab>
      
    <ngb-tab title="Per Flow">
        <ng-template ngbTabContent>
            <app-ms-power-automate-per-flow></app-ms-power-automate-per-flow>
        </ng-template>
    </ngb-tab>
</ngb-tabset>
