<div class="container">
    <div style="text-align: center;">
        <h2 style="padding-bottom: 15px;padding-top: 10px;">Microsoft Power Automate</h2>
        <p><b>Last Update:</b> {{update}}. <b>Source:</b>&nbsp;<a href="{{location}}" target="_blank">{{isOfficial}}</a></p>
    </div>
    <ngb-tabset>
        <ngb-tab title="Per User">
            <ng-template ngbTabContent>
                <app-ms-power-automate-per-users></app-ms-power-automate-per-users>
            </ng-template>
        </ngb-tab>
        
        <ngb-tab title="Per Flow">
            <ng-template ngbTabContent>
                <app-ms-power-automate-per-flow></app-ms-power-automate-per-flow>
            </ng-template>
        </ngb-tab>

        <ngb-tab title="Pricing">
            <ng-template ngbTabContent>
                <app-ms-power-automate-prices></app-ms-power-automate-prices>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
    <app-footer></app-footer>
</div>