<div class="container" style="padding-top: 15px;">
    <table class="table">
        <tr>
            <th>Product</th>
            <th>Price (US$) per Year</th>
        </tr>
        <tr>
            <td>UiPath Studio</td>
            <td>2000.00 - 3000.00</td>
        </tr>
        <tr>
            <td>Orchestrator (On-premises)</td>
            <td>20000.00</td>
        </tr>
        <tr>
            <td>Attended Robot</td>
            <td>1200.00 - 1800.00</td>
        </tr>
        <tr>
            <td>Unattended Robot</td>
            <td>8000.00</td>
        </tr>
    </table>

    <h4>Notes:</h4>
    <ul>
        <li>Disclaimer. The prices comes from <i>UiVision</i>.</li>
        <li>Types:
            <ul>
                <li><b>Attended Robot</b> interacts with the users.</li>
                <li><b>Unattended Robot</b> works autonomously (by themselves) on the background.</li>
            </ul>
        </li>
    </ul>
</div>