<div class="container" style="padding-top: 15px;">
    <table class="table">
        <tr>
            <th>Service</th>
            <th>Price (US$) per Month</th>
            <th>Comments</th>
        </tr>
        <tr *ngFor = "let row of msResults">
            <td>
              {{row[0]}}
            </td>
            <td>
              {{row[1]}}
            </td>
            <td>
              {{row[2]}}
            </td>
        </tr>
    </table>
    <h4>Notes:</h4>
    <div [innerHTML]="notes"></div>
</div>