<div class="container" style="padding-top: 15px;">
    <table class="table">
        <tr>
            <th>Plan</th>
            <th>Price (US$) per Month</th>
        </tr>
        <tr>
            <td>Per User Plan</td>
            <td>15.00</td>
        </tr>
        <tr>
            <td>Per User plan with Attended RPA</td>
            <td>40.00</td>
        </tr>
        <tr>
            <td>Per Flow Plan</td>
            <td>500.00</td>
        </tr>
        <tr>
            <td>Extra Flow</td>
            <td>500.00</td>
        </tr>
        <tr>
            <td>Unattended RPA add-on</td>
            <td>150.00</td>
        </tr>
        <tr>
            <td>AI Builder per <b>Unit</b></td>
            <td>500.00</td>
        </tr>
    </table>
    <h4>Notes:</h4>
        <ul>
            <li>DISCLAIMER. The costs exclude Microsoft 365 prices.</li>
            <li>Many services require a Microsoft 365 account for <b>Business or School.</b></li>
            <li>A Flow is the minimal unit that contains a set of repetitve actions.</li>
            <li>
                RPA is the capability to integrate your Flows with other apps (internals apps, for example) not supported by Microsoft.
                <br />
                More info about available <a target="_blank" href="https://emea.flow.microsoft.com/en-us/connectors/">connectors</a>.
            </li>
            <li>Types:
                <ul>
                    <li><b>Attended RPAs</b> are Flows that interact with the users.</li>
                    <li><b>Unattended RPAs (bots)</b> are Flows that work autonomously (by themselves) on the background.</li>
                </ul>
            </li>
            <li><b>Units</b> represent specific actions for example, Business card reader, Form processing, Key phrase extraction, Language detection, Object detection, Prediction, Sentiment analysis, and Text recognition.
                <br />You can get more information about them <a href="https://powerapps.microsoft.com/en-us/ai-builder-calculator/">here.</a>
            </li>
        </ul>
</div>