<div class="container">
    <div style="text-align: center;">
        <h2 style="padding-bottom: 15px;">UiPath</h2>
        <p><b>Last Update:</b> {{update}}. <b>Source:</b>&nbsp;<a href="{{location}}" target="_blank">{{isOfficial}}</a></p>
    </div>
    <ngb-tabset>
        <ngb-tab title="Payment">
            <ng-template ngbTabContent>
                <app-uipath-payment></app-uipath-payment>
            </ng-template>
        </ngb-tab>

        <ngb-tab title="Pricing">
            <ng-template ngbTabContent>
                <app-uipath-pricing></app-uipath-pricing>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
</div>