<div class="container" style="padding-top: 15px;">
    <form [formGroup]="msPowerUsersForm">
        <h3>With Flows Only</h3>
        <div class="row">
            <div class="col-sm">
                <div class="form-group">
                    <label for="txtUserNoRPA"># of Users</label>
                    <input type="number" class="form-control" placeholder="Total" formControlName="txtUserNoRPA" min="0" />
                </div>
            </div>
            <div class="col-sm">
                <div class="form-group">
                    <label for="txtAINoRPA"># of AI <b>Units</b></label>
                    <input type="number" class="form-control" placeholder="Total" formControlName="txtAINoRPA" min="0" />
                </div>
            </div>
            <div class="col-sm">
                <div class="form-group">
                    <label for="txtTotalNoRPA">Cost per Month in US$</label>
                    <input class="form-control" placeholder="Total" value="{{totalNoRPA}}" readonly />
                </div>
            </div>
        </div>

        <h3>With Flows + RPA Capabilities</h3>
        <div class="row">
            <div class="col-sm">
                <div class="form-group">
                    <label for="txtUserRPA"># of Users</label>
                    <input type="number" class="form-control" placeholder="Total" formControlName="txtUserRPA" min="0" />
                </div>
            </div>
            <div class="col-sm">
                <div class="form-group">
                    <label for="txtRobot"># of <b>Unattended</b> Bots</label>
                    <input type="number" class="form-control" placeholder="Total" formControlName="txtRobot" min="0" [readonly]="enableRobots" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <div class="form-group">
                    <label for="txtAI"># of AI <b>Units</b></label>
                    <input type="number" class="form-control" placeholder="Total" formControlName="txtAI" min="0" />
                </div>
            </div>
            <div class="col-sm">
               <div class="form-group">
                    <label for="txtTotalRPA">Cost per Month in US$</label>
                    <input class="form-control" placeholder="Total" value="{{totalRPA}}" readonly />
                </div>
            </div>
        </div>

        <h3>Total</h3>
        <div class="row">
            <div class="col-sm">
                <div class="form-group">
                    <label for="txtTotalPerMonth">Per Month in US$</label>
                    <input class="form-control" placeholder="Total" value="{{totalPerMonth}}" readonly />
                </div>
            </div>
            <div class="col-sm">
                <div class="form-group">
                    <label for="txtTotalPerYear">Per Year in US$</label>
                    <input class="form-control" placeholder="Total" value="{{totalPerYear}}" readonly />
                </div>
            </div>
        </div>

        <h4>Notes:</h4>
        <ul>
            <li>DISCLAIMER. The costs exclude Microsoft 365 prices.</li>
            <li>Many services require a Microsoft 365 account for <b>Business or School.</b></li>
            <li>
                Every package includes <i>Unlimited Flows</i> using <a target="_blank" href="https://emea.flow.microsoft.com/en-us/connectors/">connectors</a> provided by Microsoft.
            </li>
            <li>
                RPA is the capability to integrate your Flows with other apps (internals apps, for example) not supported by Microsoft.
            </li>
            <li>Types:
                <ul>
                    <li><b>Attended RPAs</b> are Flows that interact with the users.</li>
                    <li><b>Unattended RPAs (bots)</b> are Flows that work autonomously (by themselves) on the background.</li>
                </ul>
            </li>
            <li><b>Units</b> represent specific actions for example, Business card reader, Form processing, Key phrase extraction, Language detection, Object detection, Prediction, Sentiment analysis, and Text recognition.
                <br />You can get more information about them <a href="https://powerapps.microsoft.com/en-us/ai-builder-calculator/">here.</a>
            </li>
        </ul>
    </form>
</div>
